                                                                /* ALL*/

* {box-sizing: border-box;}

body {
    margin: 0;
}

a{
    text-decoration:none;
}

                                                                /* HEAD*/

.header_undertext {
    color: rgb(233, 36, 10);
   padding: 20px;
}

.header_index {
    background-color: rgb(51, 207, 235);
    padding: 0;
    height: 400px;
    background-image: url(img/img_garde.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.header_menu {
    background-color: rgb(51, 207, 235);
    padding: 0;
    height: 400px;
    background-image: url(img/img_menu.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.header_reservation {
    background-color: rgb(51, 207, 235);
    padding: 0;
    height: 400px;
    background-image: url(img/img_reservation.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.header_nav {
   position: absolute;
   top: 400px;
   left: 0%;
   right: 0%;
   text-align: center;
   background-color: rgb(255, 255, 0);
}

.header_nav a {
    padding: 0 10px;
    color: rgb(236, 17, 17);
    
}

.header_nav a:hover {
    text-decoration: underline;
}


.header_title {
    color: rgb(0, 0, 0);
    margin-top: 0;
    text-align: center;
   font-family:Georgia, 'Times New Roman', Times, serif;
}
.header_title a {
    color: yellow;
    
}

.header_title a:hover {
    color: red;
}

.header img {
    width: 100%;
    height: auto;
}

                                                                    /*MAIN*/


.main {
    background-color: rgb(155, 255, 213);
    padding: 20px;
    font-family: cursive;
}

.main h2 {
    text-align: center;
}

hr {
    margin: 0%;
    padding: 0%;
}

article hr {
    margin: 10px;
    width: 100%;
}
 
                                                                        /* FOOTER*/


.footer {
    background-color: lightgreen;
    margin: 0%;
    padding: 20px;
}
.footer h2
{
    margin: 0%;
    padding: 0%;
}

.footer_text {
    padding: 20px;
}

.map{
    width: 100%;
    height:450px;
}


                                                                            /*MENU*/
.main_menu {
    background-color: rgb(155, 255, 213);
    padding: 20px;
    font-family: cursive;
}

img {
    width: 200px;
    height: auto;
    padding-bottom: 30px;
}

.titles_main{
    text-align: center;
}

.main_menu table{
    width: 100%;
}

.barre_plats{
    text-align: center;
}

.description{
    padding: 20px;
}

.description_plat {
    padding-left: 30px;
    padding-bottom: 30px;
    padding-right: 30px;
    text-align: left;
}

.prix_plat{
    text-align: center;
}
td{
    text-align: center;
}
.plat{
    padding-right: 30px;
}

                                                            /*RESERVATION*/
.legend{
    margin-bottom: 30px;
}

input{
    float: left;
    margin-right: 40px;
}
#form{
    margin-bottom: 10px;
}