
html 
/* header*/

                    .header{
                        background: rgb(196, 252, 252);
                        padding: 0;
                        margin-bottom: 0;
                    }
                    .header img{
                        width: 100%;
                        height: auto;
                        margin: 0;
                    }
                    .header_title{
                        margin-top: 0;
                        text-align: center;
                    }
                    .header_title a{
                        color: rgb(253, 180, 231);
                    }
                    .header_undertext{
                        margin-left: 20px;
                        text-align: left;
                        color:rgb(240, 189, 23) ;
                    }
                    .header_nav{
                        margin: 20px 0;
                        text-align: center;
                        background: #6b61fa;
                    }
                    .header_nav a{
                        padding: 10px;
                        color: rgb(240, 189, 23);
                    }
                    .titles_main{
                        color:rgb(240, 189, 23) ;
                        text-align: center;
                        margin-left: 20px;
                        margin-top: 0;
                    }
     
/* body*/


                    body{
                        position: absolute;
                        margin: 0;
                        font-family: cursive, sans-serif;
                        width: 100%;
                        height: 100%;
                    }
                    h2 {
                        color:rgb(240, 189, 23);
                        text-align: center;
                    }
                    .main{
                        background: rgb(196, 252, 252);
                        color: #120b6e;
                        padding: 0;
                        margin-top: 0;
                        line-height: 1,4;
                        text-align: justify;
                        padding-top: 0;
                        padding-left: 20px;
                        padding-bottom: 20px;
                        width: 100%;
                        height: 100%;
                    }
                    .legend{
                        text-align: center;
                    }
                    .choice{
                        padding-bottom: 20px;
                    }
                    .plats_txt {
                        text-align: right;
                    }

                    table,
                        td {
                            border: 1px solid #333;
                        }

                        thead,
                        tfoot {
                            background-color: #333;
                            color: #fff;
                        }
                    

/*footer*/



                    .footer{
                        background: rgb(235, 230, 230);
                        padding: 10px 20px;
                        width: 100%;
                        height: 100%;
                    }
                    .map{
                        align-self: auto;
                        width: 100%;
                    }

/*général*/

                
                    a {
                        text-decoration: dashed;
                        color: rgb(240, 189, 23);
                    }

                    hr{
                        margin: 0%;
                    }
                    h2 body{
                        color: rgb(240, 189, 23);
                        padding-top: 20px;
                        margin-top: 0;
                        text-align: center;
                    }
                    h3{
                        color:rgb(240, 189, 23) ;
                    }



/* images des plats du menu*/


                    .img_plats{
                        width: 500px;
                        height: auto;
                    }