/*ALL*/


*{                                                                                           
    box-sizing: border-box;
}


/* HEADER*/



.header a{
    color: #FFF;
}
.header a:hover{
    color: red;
}
.header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}
.header_center{
    flex-direction: column;
}
.name{
    text-align: center ;
    color: white;
    margin: 0%;
    font-size: 2.5em;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.photo{
    width: auto;
    height: 200px;
    margin: 0%;

}

.work{
    text-align: center ;
    color: white;
    margin: 0%;
}                                              
.logo{
    float: right;
    margin: 0%;
   
} 
.logo_sncf, .logo_simplon{
    width: 80px;
    height: 60px;
} 

/*BODY*/




body {
    background-image: linear-gradient(45deg, rgb(0, 225, 255), rgb(231, 70, 84)) ;
     padding: 40px;
}

.main{
    display: flex;
    justify-content: space-between;
}


.avatar{
    display: flex;
    justify-content: center;
    width: 700px;
    height: auto;
}
.slide_barre{
    flex: none;
   width: 200px;
   background: #FFF;
}

.slide_barre a{
    text-decoration: none;
    color: black;
}
.slide_barre a:hover{
    color: rgb(0, 225, 255);
}
 


/*FOOTER*/


.footer{
    display: flex;
    justify-content: space-between;
    height: 100px;
}

.social{
    justify-content: flex-end;
}



img.RS{
    width: auto;
    height: 60px;
    margin: 0 40px;
}
